body {
  background-color: #fc7676;
}

nav li {
  padding-left: 10px;
  padding-right: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container-fullwidth {
  background-color: blue;
}

.content {
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;
}
