<h1>Internet Language Translator</h1>

@*Input box*@
<form action="/Home/Index" method="get">
    <div class="row">
        <div class="col-sm-12">
            <input name="text" id="textbox" placeholder="Start typing in your message here..." />
        </div>
    </div>
</form>