@model IEnumerable<WWImporters.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>People Search</h2>

<form action="/Home/Index" method="get">
    <div class="row">
        <div class="col-sm-10">
            <input name="query" />
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

@foreach(var p in Model)
{
    @Html.DisplayFor(personItem => p.FullName)
    <br />
}